html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------------------------*/

/* -------------CSS för persnlig sida med horisontalt diagram------------- */
#footerHead{
    margin-top: 80px;
    color: white;
    font-size: 25px;
    font-family: Comic Sans MS, cursive, sans-serif;
} 
#sandraFooter{
    font-size: 30px;
}
#name {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 60px;
    margin-bottom: 30px;
    color: white;
}
.profileWindow{
    display: flex;
    height: auto;
    width: 90%;
    background: #333;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 0 20px 50px rgba(0,0,0.5);
    box-sizing: border-box;
    flex-direction: column-reverse;
    align-items: center;
    flex-grow: initial;
}
.profileWindow span {
    padding: 5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.profileWindow img {
    height: 50%;
    width: 50%;
}
.personalPageMain1{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 150vh;
    font-family: sans-serif;
    background: linear-gradient(0deg, #46599e, #000105);
}
.personalPageMain1 > * {
    margin-top: 10px;
}
.photo {
    position: absolute;
    background-size: cover;
    height: 150%;
    width: 100%;
    opacity: .05;
    /* transform: translateY(30%); */
    
}
.center {
    width: 90%;
    padding: 20px;
    background: #333;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0.5);
    border-radius: 40px;
}
.center > * {
    margin-bottom: 20px;
}
.personalHeading {
    text-align: center;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.skillBox {
   box-sizing: border-box;
   width: 100%;
   margin: 20px 0;

}
.skillBox p {
color: #fff;
text-transform: uppercase;
margin: 0 0 10px;
padding: 0;
font-weight: bold;
letter-spacing: 1px;
}
.skillBox p:nth-child(2) {
    float: right;
    position: relative;
    top: -25px;
}
.skillBox p:nth-child(3) {
    float: right;
    position: relative;
    top: -25px;
}
.skill {
    background: #262626;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #0fffb7;
    border-radius: 2px;
}
.skill__level {
    background: #0fffb7;
    height: 4px;
}
#skill__level-html {
animation-name: html1;
animation-duration: 2s;
animation-fill-mode: forwards;
}
#skill__level-css {
    animation-name: css1;
    animation-duration: 2s;
    animation-fill-mode: forwards;   
}
#skill__level-javaScript {
    animation-name: javaScript1;
    animation-duration: 2s;
    animation-fill-mode: forwards;    
}
#skill__level-pingis {
    animation-name: pingis1;
    animation-duration: 2s;
    animation-fill-mode: forwards;   
}
@keyframes html1 {
    from{width: 0%;}
    to{width: 80%;}
}
@keyframes css1 {
    from{width: 0%;}
    to{width: 84%;}
}
@keyframes javaScript1 {
    from{width: 0%;}
    to{width: 95%;}
}
@keyframes pingis1 {
    from{width: 0%;}
    to{width: 99%;}
}
/*-------------------------------------------------------------------------*/

/* ---------------CSS för personlig sida med vertikalt diagram------------ */
.personalPageMain2{
    display: none;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 150vh;
    font-family: sans-serif;
    background: linear-gradient(0deg, #46599e, #000105);
}

.personalPageMain2 > *{
    margin-top: 50px;
}
.personalHeading2 {
    font-size: 50px;
    text-align: center;
    padding: 0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.box2 {
    
    top: 50%;
    left: 50%;
    width: 768px;
    height: 300px;
    background: transparent;
    border-bottom: 5px solid rgb(201, 12, 12);
    border-left: 5px solid rgb(201, 12, 12);
    display: flex;
}
.box2 .skill2 {
    position: relative;
    flex: 1;
    text-align: center;
}
.box2 .skill2 .graph2 {
    position: absolute;
    width: 40px;
    background: rgba(0, 0, 0, 1);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
}
.box2 .skill2 .graph2:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 0;
    background: linear-gradient(0deg, #003ba5, #009ffe);
}
.box2 .skill2 .graph2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1)

}
.box2 .skill2 .graph2 > * {
    position: absolute;
    top: -20px;
    transform: translateX(-50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.box2 .skill2 .graph2 div:nth-child(1) {
    
    left: 30%;
    
}
.box2 .skill2 .graph2 span:nth-child(2) {
    
    left: 70%;
    
}
.box2 .skill2 .name2 {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
    color: #fff;
    background: #050505;
    padding: 2px 6px;
    border-radius: 2px;
}
#skill__level-html2 {
    animation-name: html2;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}
#skill__level-css2 {
    animation-name: css2;
    animation-duration: 2s;
    animation-fill-mode: forwards;    
}
#skill__level-javaScript2 {
    animation-name: javaScript2;
    animation-duration: 2s;
    animation-fill-mode: forwards;     
}
#skill__level-pingis2 {
    animation-name: pingis2;
    animation-duration: 2s;
    animation-fill-mode: forwards;   
}
@keyframes html2 {
    from{height: 0%;}
    to{height: 80%;}
}
@keyframes css2 {
    from{height: 0%;}
    to{height: 84%;}
}
@keyframes javaScript2 {
    from{height: 0%;}
    to{height: 95%;}
}
@keyframes pingis2 {
    from{height: 0%;}
    to{height: 99%;}
}
/*-------------------------------------------------------------------------*/

/* -----------------------CSS för portfolio-sida carousel 1---------------- */
.carousel {
    position: relative;
    height: 400px;
    width: 100%;
    margin: 0 auto;
}
.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.carousel__track-container {
background: #000;
height: 100%;
position: relative;
overflow: hidden;
}
.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: 1s;
}
.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    
}
.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    cursor: pointer;
    opacity: .7;
}
.carousel__button--left {
    left: 0px;
}
.carousel__button--right {
    right: 0px;
}
.carousel__button img {
    width: 40px;
}
.carousel__nav {
    top: 90%;
    left: 25%;
    width: 50%;
    right: 25%;
    position: absolute;
    background: rgb(252, 250, 250);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 50%;
    opacity: .7;
}
.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,.3);
    margin: 0 12px;
    cursor: pointer;
}
.carousel__indicator.current-slide {
    background: rgba(0,0,0,.75);
}
.is-hidden { 
    display: none; 
}
.carousel__startStopPictures > * {
    top: 79%;
    width: 10%;
    left: 45%;
    right: 43%;
  position: absolute;
  display: block;
  height: 40px;
  font-size: 15px; 
  font-family: Comic Sans MS, cursive, sans-serif;
  border-radius: 10%;
  opacity: .7;
  border: 0;
}
.disapear {
    display: none;
}
.allDisapear {
    display: none;
}

/*-------------------------------------------------------------------------*/

/* -----------------------CSS för portfolio-sida carousel 2---------------- */

.carousel2 {
    position: relative;
    height: 400px;
    width: 100%;
    margin: 0 auto;
}
.carousel2__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.carousel2__track-container {
background: #000;
height: 100%;
position: relative;
overflow: hidden;
}
.carousel2__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: 1s;
}
.carousel2__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    
}
.carousel2__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    cursor: pointer;
    opacity: .7;
}
.carousel2__button--left {
    left: 0px;
}
.carousel2__button--right {
    right: 0px;
}
.carousel2__button img {
    width: 40px;
}
.carousel2__nav {
    top: 90%;
    left: 25%;
    width: 50%;
    right: 25%;
    position: absolute;
    background: rgb(252, 250, 250);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 50%;
    opacity: .7;
}
.carousel2__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,.3);
    margin: 0 12px;
    cursor: pointer;
}
.carousel2__indicator.current-slide {
    background: rgba(0,0,0,.75);
}
.carousel2__startStopPictures > * {
    top: 79%;
    width: 10%;
    left: 45%;
    right: 43%;
  position: absolute;
  display: block;
  height: 40px;
  font-size: 15px; 
  font-family: Comic Sans MS, cursive, sans-serif;
  border-radius: 10%;
  opacity: .7;
  border: 0;
}
.disapear2 {
    display: none;
}
.allDisapear2 {
    display: none;
}
.is-hidden2 { 
    display: none; 
}

/*-------------------------------------------------------------------------*/

/* -----------------------CSS för contact-sida---------------------------- */
.btn{
    position: relative;
    width: 80px;
    height: 40px;
    background-color: rgb(52, 104, 146);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 10px;
}

.animating {
    background-color: transparent;
    color: transparent;
    user-select: none;
    cursor: default;
    border: 0;
}

.btn::before {
    content: "";
    display: none;
    background-color: rgb(52, 104, 146);
    inset: 0;
    position: absolute;
    border-radius: 10px;
    animation: success 500ms;
    animation-fill-mode: forwards;
}
.btn.animating::before {
    display: block;
}
.svg {
color: rgb(255, 247, 247);
visibility: visible;
background-color: transparent;
stroke-dashoffset: 40.84104919433594;
stroke-dasharray: 40.84104919433594;
animation: rita 1000ms 400ms;
animation-fill-mode: forwards;

}
.checkmark-container {
position: absolute;
width: 25px;
height: 25px;
top: 15%;
left: 33%;
}
.btn.fail {
    background-color: red;
    animation:fail-shake .1s ease-in-out .1s infinite;
}
@keyframes fail-shake {
50% {
transform: translateX(10%);
}
100%{
    transform: translateX(-10%);
}
}

@keyframes success {
    100% {
        left: 25%;
        right: 25%;
        border-radius: 100%;
        background-color: rgb(8, 141, 64);
    }
}

@keyframes rita {
    100%{
        stroke-dashoffset: 0%;
        
    }
}
.bg-image
{
    display: flex;
    flex-direction: column;
    background: url('Foton/contactBg.png') center fixed no-repeat;
    background-size: cover;
    overflow: hidden;
}

.formBox{
    width: auto;
    display: flex;
    float: none;
    align-content: center;
    margin-left: 8%;
    margin-top: 120px;
    height: 69vh;
    padding-left: 22.488px;
    padding-right: 22.488px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 8%;
    border-radius: 5%;
}
.formBox__control input{
    display: block;
    width: 250px;
    height: 15px;
    margin-top: 5%;
    border-radius: 40px;
    padding: 2%;
    text-align: center;
}

.formBox__control {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.formBox__control i {
    position: absolute;
    right: -10px;
    top: 17px;
    visibility: hidden;
}
.formBox__control small {
    position: absolute;
    color: white;
    top: 50px;
    left: 25px;
    visibility: hidden;
}
.formBox__control.success input {
    border: 3px solid green;
}
.formBox__control.success i.fa-check-circle {
    visibility: visible;
    color: green;
}
.formBox__control.fail input {
border: 3px solid red;

}
.formBox__control.fail small {
    visibility: visible;
    color: red;
}
.formBox__control.fail i.fa-exclamation-circle {
    visibility: visible;
    color: red; 
}

.company-info{
    color: white;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 1;
}
.company-info li{
    margin-top: 20px;
    display: inline;
}
#form
{
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 92vh;
    display: flex;
}
#formBox__messageInput
{
    height: 100px;
    margin-top: auto;
    border-radius: 4px;
}
.formBox div{
    margin-top: 1%;
}
#company-info__heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
}
#formbox__heading{
    margin-top: 25px;
    color: white;
    font-size: 36px;
    font-family: Georgia, serif;
}
#formBox__emailValidationResult
{
    height: 20px;
    margin-top: 2%;
    padding: 0%;
}
.checkboxpos
{
    padding: 0%;
}
.boxstyle {
    display: flex;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.74);
    bottom: 10%;
}
.formBox__buttons
{
    margin-top: 10px ;
    margin-bottom: 10px;
    display: flex;
    width: 180px;
    justify-content: space-between;
}
/* .formBox__buttons > *{
    width: 80px;
    height: 40px;
    background-color: rgb(52, 104, 146);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 10px;
} */
.fa-download{
    font-size: 25px;
    display: none;
}
.fa-download.active{
    display:block;
}
.fa-download.inactive{
    display:none;
}
.button__download.active{
    background-color: rgb(15, 99, 15);
}
.button__download.active span{
    display: none;  
}
.button__download.inactive span{
    display: block;
}


/*-------------------------------------------------------------------------*/

/* -----------------------media querys------------------------------------ */

@media screen and (min-width: 380px) {
    
    /* --------------Contact-------------------- */

    .formBox{
    width: 300px;
    }
    
    /* --------------Personlig sida-------------------- */

    .center {
        width: 350px;
    }

    .profileWindow{
        width: 80%;
        flex-direction: row-reverse;
        height: 300px;
    }
    .profileWindow img {
    width: 150px;
    height: 200px;
    
    }
    .photo {
    height: 825px;
    transform: translateY(19%);
    }
    #sandraFooter{
    margin: 0;
    margin-bottom: 10px;
    }
    
    

}
 
    @media screen and (min-width: 768px) {

        /* --------------Contact-------------------- */

        .formBox{
            float: right;
            height: auto;
            padding-left: 3%;
            padding-right: 3%;
        }
        .bg-image {
            display: block;
        }
        .formBox > *{
            margin-top: 10%;
            padding: 3%;
        }
        .company-info{
            flex-direction: column;
            height: 50px;
            
            margin-left: 5%;
            opacity: .5;
            margin-bottom: 30px;
        }
        .company-info li{
            display: block;
                
        }
        #form{
            justify-content: space-between;
            align-items: flex-end;
            flex-direction: row;
        }
        #formBox__messageInput
        {  
        height: 120px;
        }
        
        /* --------------Personlig sida-------------------- */

        .personalPageMain1{
            display: none;
            }
            .personalPageMain2{
                display: flex;
            }
    
    }
    @media screen and (min-width: 1300px) {

        /* --------------Personlig sida-------------------- */

        .photo{
            width: 100%;
        }
        
    }
