html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.bg-image{
    
  background: url('https://cdn.discordapp.com/attachments/934079399144325183/935471206201692170/businessman-2956974_960_720.png') center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
    
}
.flex-forms{
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    justify-content: center;
    margin-right: 8%;
    margin-top: 10%;
    border-radius: 5%;
    padding-left: 3%;
    padding-right: 3%;

}
.flex-forms > *{
    
    margin-top: 10%;
    
    border-radius: 40px;
    text-align: center;
    padding: 3%;
}
.flex-forms textarea{
    border-radius: 4px;
}

#textbox{
    font-size: 36px;
    font-family: Georgia, serif;
}
.boxstyle {
    background-color: #000;
    color: #fff;
    opacity: .5;
}
#buttonstyle{
    width: 40%;
    background-color: rgb(52, 104, 146);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.company-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90vh;
    color: white;
    margin-left: 5%;
    opacity: .5;
}

.company-info li{
    margin-top: 20px;
}

#company-info-textstyle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
}
.flex-forms div{
margin-top: 1%;
}




@media (max-width: 768px){
    .company-info li{
        display: inline;
        
    }
    .company-info{
        display: flex;
        position: relative;
        height: 10vh;
        align-items: center;
        justify-content: flex-end;
        opacity: 1;
        
    }
    .flex-forms{
        display: flex;
        float: none;
        align-content: center;
        position: relative;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 57px;
        height: 75vh;
        
    }
    .flex-forms > *{
    
        margin-top: 5%;
        border-radius: 40px;
        text-align: center;
        padding: 2%;
    }
}
@media (max-width: 380px){
.flex-forms{
    margin-left: 10%;
    margin-right: 15%;
}
}
span > *{
    width: 45%;
    background-color: rgb(52, 104, 146);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 10px;
}