/*---------------------------CSS reset------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {    
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
/*-------------------------------------------------------------------------*/

/*---------------------------Portfolio.html------------------------------*/

.portfolioNav{
    background-color: rgba(0, 0, 0, 0.664)
}
.portfolioHeadInfo{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 80vh;
    justify-content: flex-start;
    align-items: center;
    padding: 10%;
    background-color: rgba(0, 0, 0, 0.664)

}
.portfolioHeadInfo h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(224, 250, 250);
    text-align: center;
}
.portfolioHeadInfo span{
    color: rgba(0, 255, 55, 0.918);
}
.portfolio-bg{
    display: flex;
    flex-direction: column;
    background-image: url("https://cdn.discordapp.com/attachments/934079399144325183/937632428590268426/work-5382501_960_720.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 80vh;
}
.projectinfo-1, .projectinfo-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: rgb(224, 250, 250);
    padding: 20px;
    text-align: center;
}
.projectinfo-1 h1, .projectinfo-2 h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 10px;
}
.projectinfo-1 p, .projectinfo-2 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0px 20px;
    line-height: 1.5em;
}
.slideShow1, .slideShow2{
    width: 100%;
    height: auto;
}
#test{
    width: 100%;
}

/*-------------------------------------------------------------------------*/

/*-----------------------------Index.html--------------------------------*/

.home-bg{
    background: url('https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center fixed no-repeat;
    background-size: cover;
}
.indexContainer{
    min-height: 90vh;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
}
.indexHeadtext{
    font-size: 45px;
    color: rgba(0, 255, 55, 0.918);
    margin: 20px;
    text-align: center;
}
.indexInfotext{
    font-size: 30px;
    color: rgb(224, 250, 250);
    margin: 20px;
    text-align: center;
    padding-bottom: 8%;
    padding-right: 9%;
    padding-left: 9%;
}
.review{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-self: center;
    color: rgb(238, 244, 245);
}

.indexFooter{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    bottom: 10px;
}
.fa{
    font-size: 25px;
    padding: 5px 10px 5px 10px;
}
.fa-star{
    color: goldenrod;
    padding: 0;
    margin-top: 5px;
}
.fa-facebook{
    color: rgba(228, 228, 228, 0.822);
    background-color: rgba(19, 19, 182, 0.719);
    border-radius: 30%;
}
.fa-twitter{
    background-color: rgba(228, 228, 228, 0.822);
    color: rgba(19, 90, 182, 0.719);
    border-radius: 30%;
}
.fa-linkedin{
    color: rgba(228, 228, 228, 0.822);
    background-color: rgba(19, 19, 182, 0.719);
    border-radius: 30%;
}
.fa-github{
    color: rgba(245, 243, 243, 0.822);
    background-color: rgba(2, 2, 3, 0.719);
    border-radius: 30%;
}
/*-------------------------------------------------------------------------*/

/* --------------------------Sandra.html---------------------------------- */
#personalPageMain{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background: linear-gradient(0deg, #028022da, #000105);
}
.backColor{
    background: url("https://cdn.pixabay.com/photo/2017/07/25/01/16/giant-panda-2536653_960_720.jpg") center no-repeat;
    background-size: cover;
}
#name{
    color: rgb(233, 230, 230);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
}
#sandraFotoInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(15, 15, 15, 0.822);
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(1, 182, 40, 0.918);
    border-radius: 10%;
    width: 90%;
}
#foto{
    width: 200px;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid rgb(9, 49, 5);
    border-radius: 15%;
    box-shadow: 0 10px 30px rgba(1, 182, 40, 0.918);
}
#sandraInfoText{
    margin: 0px 10px 10px 10px;
    color: rgb(233, 230, 230);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}
#graphBox{
    width: 90%;
    padding: 20px;
    background: rgba(15, 15, 15, 0.822);
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(1, 182, 40, 0.918);
    border-radius: 10%;
    margin-top: 30px;
    margin-bottom: 10px;
}
#graphBox h1{
    margin: 0;
    padding: 0;
    color: rgba(228, 228, 228, 0.822);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.knowledgeBox
{
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
}
.knowledgeBox p{
    color: rgba(228, 228, 228, 0.822);
    text-transform: uppercase;
    margin: 0 0 10px;
    font-weight: bold;
}
.knowledgeBox p:nth-child(2){
    float: right;
    position: relative;
    top: -26px
}
.knowledgeBox p:nth-child(3){
    float: right;
    position: relative;
    top: -26px
}
.graphBar{
    background: rgb(0, 5, 8);
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid rgba(1, 182, 40, 0.918);
    border-radius: 3px;
    box-shadow: 0 0px 5px 0 rgba(1, 182, 40, 0.918);

}
.myFooter{
    background: #028022da;
}
#footerIcons{
    margin-bottom: 0;
    padding-bottom: 15px;
} 
#footerHead{
    color: rgba(1, 6, 53, 0.822);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
}
#footerIcons{
    display: flex;
    justify-content: center;
    align-content: flex-start;
}
#percentHTML{
    background: rgba(1, 182, 40, 0.918);
    height: 7px;
    animation: HTML 1.5s ease-in forwards;
}
#percentCSS{
    background: rgba(1, 182, 40, 0.918);
    height: 7px;
    animation: CSS 1.5s ease-in forwards;
}
#percentCsharp{
    background: rgba(1, 182, 40, 0.918);
    height: 7px;
    animation: Csharp 1.5s ease-in forwards;
}
#percentJS{
    background: rgba(1, 182, 40, 0.918);
    height: 7px;
    animation: JS 1s ease-in forwards;
}
#percentDB{
    background: rgba(1, 182, 40, 0.918);
    height: 7px;
    animation: DB 1.5s ease-in forwards;
}
#percentSve{
    background: rgba(1, 182, 40, 0.918);
    height: 7px;
    animation: SVE 1.5s ease-in forwards;
}
#percentEng{
    background: rgba(1, 182, 40, 0.918);
    height: 7px;
    animation: ENG 1.5s ease-in forwards;
}
@keyframes HTML{
    0%{
        width: 0%;
    }
    100%{
        width: 46%;
    }
}
@keyframes CSS{
    0%{
        width: 0%;
    }
    100%{
        width: 48%;
    }
}
@keyframes Csharp{
    0%{
        width: 0%;
    }
    100%{
        width: 87%;
    }
}
@keyframes JS{
    0%{
        width: 0%;
    }
    100%{
        width: 16%;
    }
}
@keyframes DB{
    0%{
        width: 0%;
    }
    100%{
        width: 82%;
    }
}
@keyframes SVE{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes ENG{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

/*-------------------------------------------------------------------------*/

/* -----------------------CSS för navbaren-------------------------------- */
.topmenu{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navmenu{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homelogo a{
    padding: 5px;
    color: rgb(221, 221, 221);
    text-transform: uppercase;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold; 
    letter-spacing: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.navflexcontainer{
    display: flex;
    width: 100%;
    background-color: rgba(39, 38, 38, 0.781);
    justify-content: space-between;
    align-content: center;
    position: fixed;

}
.menuoptions{
    text-align: center;
    left: 0%;
    top: 40px;
    width: 100%;
    height: auto;
    background-color: rgba(39, 38, 38, 0.781);
    display: none;
}
.menuoptions li{
    padding: 0px 0px;
}
.menuoptions .links{
    display: flex;
    flex-direction: column;
    margin: 8px;
    line-height: 1.3;
    font-size: 20px;
}
.menuoptions a, .menuoptions i{
    text-decoration: none;
    color: rgb(233, 230, 230);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
}
.menuoptions a:hover{
    color: rgb(129, 250, 73);
}
.menuoptions .menuDrop .subMenu{
    display: none;
}
.menuoptions .links .menuDrop:hover i{
    color: rgb(129, 250, 73);
    transform: rotate(180deg);
}
.menuoptions .menuDrop .subMenu-active{
    display: block;
}
.burger{
    padding: 7px;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(221, 221, 221);
    margin: 4px;
    transition: 0.5s;
}
.menuoptions-active{
    position: absolute;
    display: block;
}
.cross .line1{
    -webkit-transform: rotate(-45deg) translate(-5px,5px);
    transform: rotate(-45deg) translate(-5px,5px);
    background-color: rgb(206, 123, 16);
}
.cross .line2{
    opacity: 0;
}
.cross .line3{
    -webkit-transform: rotate(45deg) translate(-5px,-5px);
    transform: rotate(45deg) translate(-5px,-5px);
    background-color: rgb(206, 123, 16);
}

@keyframes linksFade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/*-------------------------------------------------------------------------*/

/*--------------------------------Media querys------------------------------*/

@media screen and (min-width: 380px) {
    #graphBox{
        width: 350px;
    }
    #sandraFotoInfo{
        width: 80%;
    }
    .portfolioHeadInfo h1{
        font-size: 35px;
    }
    
    .indexHeadtext{
        font-size: 50px;
    }
    .indexInfotext{
        font-size: 35px;
        padding-bottom: 15%;
        padding-right: 9%;
        padding-left: 9%;
    }
    .review{
        align-self: flex-start;
        margin-left: 10%;
    }
    
}
@media screen and (min-width: 768px) {
    /* -------------------------------Sandra.html------------------------------- */
    #personalPageMain{
        flex-direction: column-reverse;
        height: 100%;
        left: 50px;
        padding-top: 60px;
    }
    #back{
        height: 109vh;
    }
    #name{
        position: absolute;
        top: 0;
        
    }
    #sandraFotoInfo{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        width: 80%;
        margin-bottom: 30px;
        margin-top: 6%;
    }
    #foto{ 
        
        margin: 0px 30px 0px 50px;
    }
    #sandraInfoText{
        margin: 0px 30px 0px 50px;
        color: rgb(233, 230, 230);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        text-align: center;
    }
    #graphBox{
        display: flex;
        flex-direction: row; 
        padding: 0px;
        width: 650px;
        height: 300px;
        background: transparent;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        border-radius: 0%;
        box-shadow: none;
        margin-bottom: 50px;
    }
    #graphBox h1{
        position: absolute;
        top: -40px;
    }
    #language{
        right: 10%;
    }
    .knowledgeBox{
        position: relative;
        margin: 0px;
        flex: 1;
        text-align: center;
    }  
    .graphBar{
        display: flex;
        justify-content: flex-start;
        flex-direction: column-reverse;
        position: absolute;
        padding:0px;
        border:none;
        width: 45px;
        height: 100%;
        bottom: 0px;
        left: 27px;
        box-shadow:none;
        text-align: center;
        background: transparent;

    }
    .knowledgeBox p{
        margin: 0px;
    }
    .knowledgeBox p:nth-child(1){
        position: absolute;
        top: 305px;
        left: 3px;
        width: 100%;
    }
    .knowledgeBox p:nth-child(2){
        position: absolute;
        top: -15px;
        left: 19%;
        width: 100%;
    }
    .knowledgeBox p:nth-child(3){
        position: absolute;
        top: -15px;
        left:-4%;
        width: 100%;
    }
    
    
    #percentHTML{
        
        border: 1px solid rgba(12, 22, 4, 0.815);
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        background: linear-gradient(0deg, rgb(8, 6, 39), rgb(6, 160, 199));
        animation: HTML2 1.5s ease-in forwards;
    }
    #percentCSS{
        border: 1px solid rgba(12, 22, 4, 0.815);
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        background: linear-gradient(0deg, rgb(8, 6, 39), rgb(6, 160, 199));
        animation: CSS2 1.5s ease-in forwards;
    }
    #percentCsharp{
        border: 1px solid rgba(12, 22, 4, 0.815);
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        background: linear-gradient(0deg, rgb(8, 6, 39), rgb(6, 160, 199));
        animation: Csharp2 1.5s ease-in forwards;
    }
    #percentJS{
        border: 1px solid rgba(12, 22, 4, 0.815);
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        background: linear-gradient(0deg, rgb(8, 6, 39), rgb(6, 160, 199));
        animation: JS2 1s ease-in forwards;
    }
    #percentDB{
        border: 1px solid rgba(12, 22, 4, 0.815);
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        background: linear-gradient(0deg, rgb(8, 6, 39), rgb(6, 160, 199));
        animation: DB2 1.5s ease-in forwards;
    }
    #percentSve{
        border: 1px solid rgba(12, 22, 4, 0.815);
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        background: linear-gradient(0deg, rgb(8, 6, 39), rgb(6, 160, 199));
        animation: SVE2 1.5s ease-in forwards;
    }
    #percentEng{
        border: 1px solid rgba(12, 22, 4, 0.815);
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        background: linear-gradient(0deg, rgb(8, 6, 39), rgb(6, 160, 199));
        animation: ENG2 1.5s ease-in forwards;
    }
    @keyframes HTML2{
        0%{
            height: 0%;
        }
        100%{
            height: 46%;
            
        } 
    }
    @keyframes CSS2{
        0%{
            height: 0%;
        }
        100%{
            height: 48%;
        }
    }
    @keyframes Csharp2{
        0%{
            height: 0%;
        }
        100%{
            height: 87%;
        }
    }
    @keyframes JS2{
        0%{
            height: 0%;
        }
        100%{
            height: 16%;
        }
    }
    @keyframes DB2{
        0%{
            height: 0%;
        }
        100%{
            height: 82%;
        }
    }
    @keyframes SVE2{
        0%{
            height: 0%;
        }
        100%{
            height: 100%;
        }
    }
    @keyframes ENG2{
        0%{
            height: 0%;
        }
        100%{
            height: 90%;
        }
    }
    
    /*---------------------------------------------------------------------------*/

    /* -------------------------------Portfolio.html------------------------------- */
    .portfolioHeadInfo h1{
        font-size: 45px;
    }
    #test {
        width: 50%;
    }
    .slideShow1, .slideShow2{
        width: 50%;
    }
    .projectinfo-1, .projectinfo-2{
        flex-direction: row;
    }
    .projectinfo-1 h1, .projectinfo-2 h1{
        font-size: 20px;
    }
    .projectinfo-1 p, .projectinfo-2 p{
        font-size: 15px;
    }
    .indexContainer{
        margin-left: 10%;
        margin-right: 10%;
    }
    .indexHeadtext{
        font-size: 60px;
    }
    .indexInfotext{
        font-size: 45px;
        padding-bottom: 15%;
        padding-right: 9%;
        padding-left: 9%;
    }
    /*---------------------------------------------------------------------------*/
        
    /* ----------------------------CSS för navbaren------------------------------ */
    .topmenu{
        position: relative;
        background: none;
        overflow: hidden;
    }
    .burger{
        display: none;
    }
    .navflexcontainer{
        background-color: transparent;
        width: 100%;
    }
    .scrolled{
        background-color: rgba(12, 12, 12, 0.897);
    }
    .menuoptions{
        position: absolute;
        display: flex;
        justify-content: flex-start;
        padding-left: 180px;  
        background: transparent;
        left: 150px;
        top: 0px;
    }
    .menuoptions .links{
        display: flex;
        flex-direction: row;
    }
    .menuoptions li{
        padding: 0px 10px;
    }
    .menuoptions a,.menuoptions i{
        opacity: 1;
    }
    .bx{
        line-height: 0;
    }
    .menuoptions .menuDrop:hover .subMenu{
        background: rgba(12, 12, 12, 0.897);
        display: block;
    }
    .menuoptions a:hover, .menuoptions .links .menuDrop:hover i{
        color: rgb(233, 230, 230);
    }
    .menuoptions a::before {
        content: "";
        position: relative;
        display: block;
        width: 100%;
        height: 3px;
        top: 24px;
        left: 0;
        background-color: rgb(129, 250, 73);
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
    .menuoptions a:hover::before {
        transform:scaleX(1);
    }
    
    /*---------------------------------------------------------------------------*/


}
@media screen and (min-width: 1300px) {
    .projectinfo-1,.projectinfo-2{
        padding: 10px 50px;
    }
    .projectinfo-1 h1, .projectinfo-2 h1{
        font-size: 27px;
    }
    .projectinfo-1 p, .projectinfo-2 p{
        font-size: 21px;
    }
    
    .indexHeadtext{
        font-size: 70px;
    }
    .indexInfotext{
        font-size: 55px;
    }
}
