
.btn{
    position: relative;
    width: 80px;
    height: 40px;
    background-color: rgb(52, 104, 146);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 10px;
}

.animating {
    background-color: transparent;
    color: transparent;
    user-select: none;
    cursor: default;
    border: 0;
}

.btn::before {
    content: "";
    display: none;
    background-color: rgb(52, 104, 146);
    inset: 0;
    position: absolute;
    border-radius: 10px;
    animation: success 500ms;
    animation-fill-mode: forwards;
}
.btn.animating::before {
    display: block;
}
.svg {
color: rgb(255, 247, 247);
visibility: visible;
background-color: transparent;
stroke-dashoffset: 40.84104919433594;
stroke-dasharray: 40.84104919433594;
animation: rita 1000ms 400ms;
animation-fill-mode: forwards;

}
.checkmark-container {
position: absolute;
width: 25px;
height: 25px;
top: 15%;
left: 33%;
}


@keyframes success {
    100% {
        left: 25%;
        right: 25%;
        border-radius: 100%;
        background-color: rgb(8, 141, 64);
    }
}

@keyframes rita {
    100%{
        stroke-dashoffset: 0%;
        
    }
}